# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
*.pem
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
prisma/migrations/

# data files
data/raw/
data/seed/*.csv
data/seed/*.xlsx

# python
__pycache__/
*.pyc
*.pyo
backend/.venv/
backend/venv/
